<h1>Search for a movie term</h1>

<form action="/search_movies" method="POST">
	<p>
	<label for="term">Search for a term: </label>
	<input type="text" name= "movie_term">
	<input name ="commit" type ="submit" value ="Search">
	
	</p>
	</form>




